<div class="modal fade" id="ActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info People</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="simple-form-people" action="/simple/add" enctype="multipart/form-data" class="row">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="name" class="col-form-label">Your Name:</label>
            <input 
              type="text" 
              class="form-control required" 
              id="name" name="name" 
              value="<%= result_view != '' ? result_view[0].name : '' %>">
              <div class="invalid-feedback">Sorry, The name is required. Try again !</div>
          </div>
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="email" class="col-form-label">Your Email:</label>
            <input 
              type="text" 
              class="form-control required email" 
              id="email" 
              name="email"
              value="<%= result_view != '' ? result_view[0].email : '' %>">
              <div class="invalid-feedback">Sorry, this is not email. Try again !</div>
          </div>
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="password" class="col-form-label">Your Password:</label>
            <input 
              type="password" 
              class="form-control required" 
              id="password" 
              name="password"
              value="<%= result_view != '' ? result_view[0].password : '' %>">
              <div class="invalid-feedback">Sorry, the password is required. Try again !</div>
          </div>
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="confirm-password" class="col-form-label">Confirm Password:</label>
            <input 
              type="password" 
              class="form-control confirm-password" 
              data-id="password"
              id="confirm-password" 
              name="confirm_password"
              value="<%= result_view != '' ? result_view[0].confirm_password : '' %>">
              <div class="invalid-feedback">Sorry, the password is not same. Try again !</div>
          </div>
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="birth_day" class="col-form-label">Your BirthDay:</label>
            <input 
              type="text" 
              class="form-control js-date js-nokeyboard required" 
              id="birth_day" 
              name="birth_day" 
              autocomplete="off"
              value="<%= result_view != '' ? result_view[0].birth_day : '' %>">
              <div class="invalid-feedback">Sorry, the birth day is required. Try again !</div>
          </div>
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="image" class="col-form-label">Image Personal:</label>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input 
                  type="file" 
                  class="custom-file-input image" 
                  id="image" 
                  name="image">
                <label class="custom-file-label" for="image">Choose file</label>
              </div>
            </div>
            <div class="invalid-feedback">Sorry, the image is required. Try again !</div>
          </div>
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="note" class="col-form-label">Your introduce:</label>
            <textarea 
              class="form-control required" 
              id="note" 
              name="note"><%= result_view != '' ? result_view[0].note : '' %>
            </textarea>
            <div class="invalid-feedback">Sorry, the note is required. Try again !</div>
          </div>
          <div class="form-group col-sm-6 col-12 has-success has-danger">
            <label for="male" class="col-form-label col-sm-12 col-12 no-padding">Your Gender:</label>
            <div class="custom-control custom-radio col-sm-6 col-12">
              <input 
                type="radio" 
                id="male" 
                name="gender" 
                class="custom-control-input gender" 
                value="male"
                <%= result_view != '' && result_view[0].gender == 'male' ? 'checked' : '' %>
                >
              <label class="custom-control-label" for="male">Male</label>
            </div>
            <div class="custom-control custom-radio col-sm-6 col-12 has-success has-danger">
              <input 
                type="radio" 
                id="female" 
                name="gender" 
                class="custom-control-input gender"
                value="female"
                <%= result_view != '' && result_view[0].gender == 'female' ? 'checked' : '' %>
                >
              <label class="custom-control-label" for="female">FeMale</label>
            </div>
            <div class="invalid-feedback" id="gender">Sorry, The gender is required. Try again !</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary oth-action-people">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ActionModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info People</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="simple-form-people-edit" action="/simple/edit" enctype="multipart/form-data">
          <%# <input type="hidden" name="_csrf" value=""> %>
          <div class="form-group col-sm-6 col-12">
            <label for="name_" class="col-form-label">Your Name:</label>
            <input 
              type="text" 
              class="form-control required" 
              id="name_" name="name" 
              value="">
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="email_" class="col-form-label">Your Email:</label>
            <input 
              type="text" 
              class="form-control required email" 
              id="email_" 
              name="email"
              value="">
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="birth_day_" class="col-form-label">Your BirthDay:</label>
            <input 
              type="text" 
              class="form-control js-date js-nokeyboard required" 
              id="birth_day_" 
              name="birth_day" 
              autocomplete="off"
              value="">
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="image_" class="col-form-label">Image Personal:</label>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input 
                  type="file" 
                  class="custom-file-input image" 
                  id="image_" 
                  name="image">
                <label class="custom-file-label" for="image">Choose file</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="note_" class="col-form-label">Your introduce:</label>
            <textarea 
              class="form-control required" 
              id="note_" 
              name="note">
            </textarea>
          </div>
          <div class="form-group col-sm-6 col-12">
            <label for="male_" class="col-form-label col-sm-12 col-12 no-padding">Your Gender:</label>
            <div class="custom-control custom-radio col-sm-6 col-12">
              <input 
                type="radio" 
                id="male_" 
                name="gender" 
                class="custom-control-input gender_" 
                value="male"
                >
              <label class="custom-control-label" for="male_">Male</label>
            </div>
            <div class="custom-control custom-radio col-sm-6 col-12">
              <input 
                type="radio" 
                id="female_" 
                name="gender" 
                class="custom-control-input gender_"
                value="female"
                >
              <label class="custom-control-label" for="female_">FeMale</label>
            </div>
            <input type="hidden" name="id" value="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary oth-action-people-edit">OK</button>
      </div>
    </div>
  </div>
</div>